body {
    background-color:#e0e1dd;
}

/* Navigation Styles */

nav {
    display: flex; 
    justify-content: space-evenly;
    background-color: #0d1b2a;
    margin: 5px;
    padding: 30px 10px 30px 10px;
    border-radius: 5px;
    flex-direction: row;
}

nav div a {
    background-color: #1b263b;
    padding: 10px;
    color: #778da9;
    font-size: 20pt;
    font-family: monospace;
    border-radius: 10px;
    text-decoration: none;
    
}

nav div a:hover {
    background-color: #778da9;
    color: #0d1b2a;
}


/* Homepage Styles */
.homepage1, .homepage2{
    display: flex; 
    justify-content: space-evenly;
    background-color: #778da9;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}


.homepage1 img {
    max-width: 100%;
    height: auto;
    overflow: auto;
    border-radius: 5px;
}

.homepage1 div p {
    max-width: 100%;
    color: #0d1b2a;
    font-size: 250%;
    max-height: auto;
    word-wrap: break-word;
}

span {
    font-weight: bold;
}

.homepage2 img {
    width: 100%;
    max-height: auto;
    overflow: auto;
    size: 100%;
    margin-right: 5px;
    border-radius: 5px;
}

.homepage2 div p {
    max-width: 100%;
    color: #0d1b2a;
    font-size: 300%;
    max-height: auto;
    word-wrap: break-word;
}

.homepage2 div p, .homepage2 img {
    flex: 1;
}

.homepage2images {
    width: 250%;
    max-height: auto;
    overflow: hidden;
    size: 100%;
    margin-right: 5px;
    border-radius: 5px;
}
/* Project Styles */
.project1, .project2 {
    background-color: #778da9;
    border-radius: 5px;
    margin: 5px;
    padding: 20px;
    font-family: monospace;
    font-size: 15pt;
    color: #0d1b2a;
}

.projectbody {
    display: flex; 
    flex-wrap: wrap;
}

.projectnav {
    background-color: #1b263b;
    margin: 5px;
    padding: 20px;
    display: block;
    border-radius: 5px;
}

.projectnav a {
    color: #778da9;
    font-size: 25pt;
    font-family: monospace;
}

/* Resume Styles */
.resume1 {
    text-align: center;
    background-color: #1b263b;
    color: #778da9;
    padding: 10px;
    font-size: 125%;
    margin: 10px;
    border-radius: 5px;
}
hr {
    padding: 3px;
    background-color: #1b263b;
    border-radius: 5px;
}

.resumetitles {
    font-size: 150%;
    background-color: #778da9;
    padding: 10px;
}

.resumebody {
    font-size: 110%;
}

.resumelist {
    font-size: 105%;
    list-style-type: square;
}

.resumecontainer {
    background-color: #778da9;
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
}

.resumefloats {
    float: right;
}

/* Fonts */
body {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
/* Media Queries */
@media (max-width: 800px) {
    nav {
      flex-direction: column;
    }
  }

@media (max-width: 800px) {
    .homepage1, .homepage2, .homepage1 img, .homepage2images {
      flex-direction: column;
      max-width: 100%;
      float: none;
    }
  }