body {font-family: 'Times New Roman', Times, serif;}
h1, h2 {color: #ffffff;}
.evenrow {color: blue;}
h1 {font-size: 3em;}
h1 {font-size: 2em;}
body {background-color: #5C4A42;}
p {color: #ffffff;}
link {color: #ffffff;}
nav {background-color: #3d4a52; padding: 10px; margin-bottom: 30px;}
nav a {color: #ffffff;}
nav a:hover {background-color: #ffe4c4;}
.photo1 {float: left; margin: 20px; max-width: 100%;}
.clear {clear: both;}
.footerfloat {float: right; color: #ffffff;}
.row1 {display: flex; margin: 30px;}
.row1 div {flex:1; background-color: add8e6; border-radius: 1em; padding: 10px; }


.row2 {display: flex; margin: 30px; flex-wrap: wrap;}
.row2 div {background-color: #add8e6; border-radius: 1em; flex: 1; padding: 10px;}

.skillsheading {text-align: center;}
img {width: 50px;}
.icons {display: flex; flex: 3; justify-content: space-between; padding: 5px;margin: 10px;}
aside {background-color: #add8e6; border-radius: 1em; margin: 10px; padding: 5px;}
.asideheader {color: #111111;}
aside h2 p {color: #111111;}
.flexbox2 {display: flex;}
.otherskills {flex: 1;}
.description {padding: 5px;}
.choosereasonforemail {color: #111111;}
.skillsaside {color: #111111;}
.skillslist {color: #ffffff;}

@media only screen and (max-width: 800px) {
    nav a {width: 100%; display: block;}
}
